<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag 'script' %> 

<%= form_for(:session, url: login_path) do |f| %>
<div class="pen-title">
  <h1>PDF Viewer Login</h1>
</div>

<div class="Log-container">
  <div class="card"></div>
  <div class="card">
    <h1 style="text-align: left; "class="title">Login</h1>
    <form>
      <div class="input-container">
        <%= f.email_field :email, id:'Username', type: 'text', required: 'required' %>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <%= f.password_field :password, id:'Password', type: 'password', required: 'required'%>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>

      <div class="button-container">
        <button><span><%= f.submit "Log in", class: "loginfix" %>
</span></button>
      </div>

      <div class="footer">
        <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span style="font-size: 15px; vertical-align: top;">Remember me on this computer</span>
    <% end %>
      </div>
      <div style="text-align:center">
            <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </form>
  </div>
</div>
<% end %>