
<div><h1>Slides</h1></div>

<div class="SlidesCont">
<% @uploads.each do |up| %>
<div class="col-sm-3 SlidePdfCont">
<h5><%=up.document_file_name %></h5>
<a href="<%= slide_path(up) %>"><div class="pdfThumb"style="background-image: url(<%= up.pages.thumbnail.url %>);"></div></a>
<div class="pdfIcons">
	<%= link_to '  ', slide_path(up),  class:"fa fa-eye trashStyle"%>
	<%= link_to '  ', slide_path(up), method: :delete, class:"fa fa-trash-o trashStyle", data: { confirm: 'Are you sure you want to delete the file?' } %>
 </div>
 </div>
<% end %>
</div>
