
    <article class="comment">
      <a class="comment-img" href="#non">
        <%= image_tag comment.user.avatar, class: "avatarThumb"  %>
      </a>
      <div class="comment-body">
        <div class="text">
          <p><%= comment.body %></p>
        </div>
        <p class="attribution">by <a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a> <%= time_ago_in_words(comment.created_at) %> Ago</p>
      </div>
    </article>    
  