<div class="pagehead">
  <h1>Edit User</h1>
</div>
<div class="edit-user-form">
<%= form_for(current_user, :url => { :action => "update" } ) do |f| %>
<% if current_user.password_digest %>
  <div class="form-group">
  <%= f.label :current_password %> <i>(We need your current password to confirm your changes)</i>
  <%= f.password_field :current_password,class: "form-control" %>
  </div>
<% end %>
  <div class="form-group">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, :value => current_user.name,class: "form-control" %>
  </div>
<% if current_user.password_digest %>
  <div class="form-group">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, :autocomplete => "off",class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,class: "form-control" %>
  </div>
  <div class="form-group">
<% end %>
    <%= f.submit "Edit",:class => "btn btn-primary" %>
  </div>
<% end %>
</div>