<header style="background: #F44336 !important; border: none; border-radius: 0px;" class="navbar navbar-inverse ">
  <div class="container">
    <%= link_to "PDF Viewer", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Slides", slides_path %></li>
        <li><%= link_to "Upload", upload_path %></li>
        <% if logged_in? %>
          <li><%= link_to current_user.name, current_user  %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>